<div class="youtube_video">
<object width="{% if width %}{{ width }}{% else %}480{% endif %}" height="{% if height %}{{ height }}{% else %}295{% endif %}">
  <param name="movie" value="http://www.youtube.com/v/{{ video_id }}&hl=en&fs=1"></param>
  <param name="allowFullScreen" value="true"></param>
  <param name="allowscriptaccess" value="always"></param>
  <embed src="http://www.youtube.com/v/{{ video_id }}&hl=en&fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="{% if width %}{{ width }}{% else %}480{% endif %}" height="{% if height %}{{ height }}{% else %}295{% endif %}"></embed>
</object>  
</div>
